
header {
  margin-top: 120px;
  background-color: teal;
  background-image: url("../images/foggy-birds.png");
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  align-items: center;
  color: azure;

}